################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/API/.vs
/API/bin/
/API/obj/
/.vs
*cache
